<nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <div class="container">
        <!-- logo !-->
        <a class="navbar-brand" href="index.html">
            <img src="{{ site.baseurl }}/images/logo_happyhouse_liggend.svg" alt="">
        </a>
        <!-- hamburgericoon !-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-md-end" id="navbarNavAltMarkup">
        <!-- nav elementen !-->
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="index.html">Home</a>
            <a class="nav-item nav-link" href="contact.html">Contact</a>
            <a class="nav-item nav-link" href="reserveren.html">Reserveren</a>
        </div>
        </div>
    </div>
  </nav>