<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<script>
(() => {
    let MyMap = L.map('mymap').setView([50.7464,3.6209439], 15);

    L.tileLayer('https://api.mapbox.com/styles/v1/mathwaet/cjkv2vred06zt2rny3rj078y7/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoibWF0aHdhZXQiLCJhIjoiY2prdjJ0bmF2MGwybTN2bGtoem5mcDkyayJ9.6tXaBD5_pCZDt_zxXVTF9w', 
    {
        attribution: '',
        maxZoom: 18,
        accessToken: 'pk.eyJ1IjoibWF0aHdhZXQiLCJhIjoiY2prdjJ0bmF2MGwybTN2bGtoem5mcDkyayJ9.6tXaBD5_pCZDt_zxXVTF9w'
        
    }).addTo(MyMap);

    let CustomIconName = L.icon({
        iconUrl: './images/markerlogo.png',
    
        iconSize:     [30, 40],
        iconAnchor:   [0, 0],
    });
    let YourMarker = L.marker([50.7464,3.6209439], {icon: CustomIconName}).addTo(MyMap);
})()

</script>

<script>
    $('.datepicker').datepicker({
    format: 'mm/dd/yyyy',
    startDate: '-3d'
});
</script>