.navbar{
    background:rgba(255,255,255,0.94);
    z-index:9999999;
}
.navbar-brand{
    padding-right:10px;
    img{
        height:20px;
    }
}

.nav-item{
    font-family:'COCOGOOSE', sans-serif;
    color:$primary;
    font-size:15px;
    margin-left:30px;
    padding-top:15px;
    padding-bottom:15px;
}

.nav-item:first-of-type{
    padding-top:30px;
}

.navbar-light .navbar-nav .nav-link{
    color:$primary;
}

.navbar-light .navbar-nav .nav-link:hover{
    color:#D1CFFF;
}

.navbar-light .navbar-nav .nav-link:active{
    color:#D1CFFF;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

    .navbar{
        height:70px;
    }
    .nav-item {
        font-family: 'Source sans pro', sans-serif;
        font-size:15px;
        margin:0px;
        font-weight:400;
    }

    .nav-item{
        padding-top:0px;
    }

    .nav-item:first-of-type{
        padding-top:0px;
    }

    .navbar-expand-lg .navbar-nav .nav-link{
        padding-left:40px;
    }

    .navbar-collapse{
        padding-top:20px;
    }

    .navbar-light .navbar-nav .nav-link:active{
        color:$primary;
    }

    .navbar-expand-lg { 
         .navbar-collapse {
            display: flex;
            justify-content: flex-end;
         }
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}